[package]
name = "accord"
version = "0.1.0"
authors = ["FeÌlix Saparelli <felix@passcod.name>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
isahc = "0.9.8"
regex = "1.3.9"
serde = "1.0.114"
serde_json = "1.0.57"
tokio = "0.2.22"
tracing = "0.1.18"
tracing-log = "0.1.1"
tracing-subscriber = "0.2.10"

[dependencies.async-std]
version = "1.6.2"
features = ["attributes", "tokio02"]

[dependencies.twilight]
branch = "trunk"
git = "https://github.com/twilight-rs/twilight.git"
